.center {
    width: 80%;
    margin: auto;
}
#chat-container {
    height: 80%;
    height: 500px;
    margin:auto;
    overflow: auto;
    width:100%
}
#message-list {
    list-style: none;
}
#messanger-container {
  overflow: hidden;
  margin:auto;
  margin-top: 30px;
  width: 100%;
}
.even {
}
.uneven {
    background-color: rgb(211, 250, 184);
}
