#container {
  width: 80%;
  min-width: 800px;
  margin-top: 20px;
}
#menu {
  float: right;
}
.widget {
  border: 3px solid #6666AA;
  height: 600px;
  border-style: double;
  border-radius: 15px;
  padding: 10px;
  overflow: hidden;
  position: relative;
}

.internalframe {
  height: 400px;
  width: 800px;
  margin: auto;
  overflow: hidden;
}


#chat {
  resize: none;
}
#chat-panel {
  margin-bottom: 20px;
}
