#container {
  width: 100%;
  margin-top: 20px;
}
#menu {
  float: right;
}
.widget {
  border: 3px solid #6666AA;
  height: 600px;
  border-style: double;
  border-radius: 15px;
  padding: 10px;
}

.maincontainer{
  background-color: #DDDDDD;
}

#chat {
  resize: none;
}
#chat-panel {
  margin-bottom: 20px;
}
