#container {
  margin-top: 150px;
  max-width: 400px;
  float: none;
  margin-left: 0 auto;
  margin-right: 0 auto;
}

@media (max-height: 700px) {
   #container {
     margin-top: 100px;
   }
 }

@media (max-height: 650px) {
    #container {
      margin-top: 50px;
  }
}

@media (max-height: 600px) {
    #container {
      margin-top: 0;
  }
}
